.dashboard-content {
  margin-left: 53px;
  margin-right: 53px;
  margin-top: 18px;
}

.dashboard-content .YourBidsSection {
  margin-top: 18px;
}

.dashboard-content .TrendingAuctionsSection {
  margin-top: 48px;
  margin-bottom: 67px;
}
