/* Footer container */
footer {
  background-color: #001933;
  color: #f8f9fa;
  font-size: 0.875rem;
  padding: 2rem 0 0 0;
  margin-top: auto ;
}


/* Content container */
footer .content {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
}

/* Logo and social media icons */
footer .content .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 40%;
}

footer .content .logo-details {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
}

footer .content .logo-details .logo_name {
  width: 100%;
  height: auto;
}

footer .content .logo-details .logo_name img {
  width: 100%;
  height: auto;
}

/* Links */
footer .content .link-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

footer .content .box {
  list-style: none;
  margin-bottom: 2rem;
  width: 22%;
  flex-direction: column;
}

footer .content .box .link_name {
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

footer .content .box a {
  color: #f8f9fa;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
}

footer .content .box a:hover {
  text-decoration: underline;
}

/* Subscribe input */
footer .content .input-box {
  width: 100%;
}

/* Bottom details */
footer .bottom-details {
  background-color: #000913;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
}

footer .bottom-details .bottom_text {
  font-size: 0.75rem;
}

footer .bottom-details .bottom_text a {
  color: white;
  margin: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}



@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }

  footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 16px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
