@tailwind base;
@tailwind components;
@tailwind utilities;


.how-it-works-container {
  display: flex;
  flex-direction: column;
}

.how-it-works-heading {
  display: flex;
  flex-direction: column;
}

.how-it-works-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.how-it-works-section {
  margin-bottom: 5%;
}

.how-it-works-section,
.how-it-works-row,
.how-it-works-heading-row {
  justify-content: center;
  align-items: center;
  display: flex;
}

.how-it-works-cards-container {
  display: flex;
  justify-content: center;
}

.how-it-works-card {
  text-align: center;
  padding: 10%;
  margin-right: -5%;
  /* Adjust the spacing between cards */
}

.how-it-works-card:last-child {
  margin-right: 0;
  /* Remove right margin for the last card */
}

.how-it-works-heading-row {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  /* Adjust the margin as desired */
}