.col-how-it-works-1 {
  margin-right: 5px;
}

.col-how-it-works-2 {
  margin-right: 5px;
}

.col-how-it-works-3 {
  margin-right: 5px;
}

.how-it-works-section {
  display: 'flex';
  justify-content: 'center';
  margin-bottom: 5%;
}

.arrow {
  width: 10%;
  max-width: 10vw;
  margin-left: 0rem;
}

.how-it-works-div {
  margin-top: 2.5%;
}