.nav-bar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 55px 55px 60px;
  overflow: hidden;
}

.nav-bar .logo-and-search-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 90px;
  align-items: center;
}

.nav-bar .navigation {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 35px;
  align-items: center;
}