body {
  margin: 0;
  padding: 0;
}

.connect-page {
  background-color: #0074e6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.connect-page h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 5%;
  font-weight: bolder;
}

.connect-page p {
  color: white;
  margin-bottom: 3%;
  font-size: 1.3rem;
}

.connect-page__logo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2%;
  margin-left: 2%;
}

.connect-page__logo img {
  fill: white;
}

.connect-loading {
  cursor: none;
}

.connect-metaMask-button {
  margin-top: 15%;
  border: none;
  color: #0080ff;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  border-radius: 16.8px;
  position: relative;
}

.text-center {
  text-align: center;
}

.connect-metaMask-button:hover {
  background-color: #6c9bc9;
}

.go-to-dashboard-button {
  margin-top: 15%;
  border: none;
  color: #0080ff;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  border-radius: 16.8px;
  position: relative;
}

.go-to-dashboard-button:hover {
  background-color: #6c9bc9;
}
