.container-fluid{
    padding: 3% 15% 7%;
  }

  @font-face {
    font-family: 'Lucida Console';
    src: url('../components/landing-page/Fonts/Lucida\ Console\ Regular.ttf') format('truetype');
  }

  .brand-name{
    font-family: 'Lucida Console', monospace;
  }

  #first-section{
    background-color: #3298FF;
  }

  .heading{
    margin-left: 50px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  }

  .sub-heading{
    margin-left: 50px;
    color: #fff;
  }

  .heading-button{
    border-radius: 12px;
    border: none;
    margin: 5% 3% 5% 3%;
    background-color: #FF0055;
    font-size: 24px;
    color: #fff;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .heading-button:hover{
    background-color: #d36489;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .header-img{
    width: 900px; 
    position: absolute;
    left: 50%; 
    top: 10%;
}

@media (max-width: 768px) {
    /* Apply these styles when the screen size is less than or equal to 768px */
    .row {
      flex-direction: column;
      align-items: center;
    }
  
    .col {
      margin-top: 1rem;
      text-align: center;
    }
  
    .heading {
      font-size: 2rem;
    }
  
    .sub-heading {
      font-size: 1.2rem;
    }
  
    .heading-button {
      font-size: 1.2rem;
    }
  
    .header-img {
      width: 100%;
    }
  }
  
  
  

 